.products-list{
    border: 2px solid seagreen;
    border-radius: 10px;
    flex: 1 1 25%;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
.products-list img{
    height: 150px;
    padding-top: 10px;

}
.p-button{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.p-button button{
    padding: 10px 18px;
    background: none;
    border: 1px solid rebeccapurple;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
}

.p-button button:hover{
    background:rgb(187, 53, 187);
    color: white;

}