
.login{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 40px;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.login input{
    padding: 10px;
    width: 350px;
    outline: none;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid seagreen;

}
.login input::placeholder{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.login button {
    height: 50px;
    width: 300px;
    background: linear-gradient(90deg,rgb(87, 182, 87),white);
    border: none;
    font-size: 20px;
    color: green;
    border-radius: 5px;
    cursor: pointer;
}
.login button:hover{
    background: rgb(58, 163, 58);
    color: white;
}
.social-auth{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.google{
    background:white;
    font-size: 20px;
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    border-bottom: 3px solid green;
}

.microsoft{
    background: white;
    font-size: 20px;
    font-size: 2opx;
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    border-bottom: 3px solid green;
}